<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ServiceDeskConfiguration" type="ShootingRange.ConfigurationProvider.ServiceDeskConfiguration, ShootingRange.ConfigurationProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <ServiceDeskConfiguration>
    <ParticipationDescriptions>
      <add ProgramNumber="100" ProgramName="Probe" AllowShooterCollectionParticipation="false" AllowShooterParticipation="true" RankingType="SingleWithoutSeries"/>
      <add ProgramNumber="101" ProgramName="Bratchäs" AllowShooterCollectionParticipation="false" AllowShooterParticipation="true"  RankingType="SingleWithSeries"/>
      <add ProgramNumber="102" ProgramName="Sie &amp; Er" AllowShooterCollectionParticipation="true" AllowShooterParticipation="true" RankingType="Collection"/>
      <add ProgramNumber="103" ProgramName="Gruppenstich" AllowShooterCollectionParticipation="true" AllowShooterParticipation="true"  RankingType="Collection"/>
      <add ProgramNumber="104" ProgramName="Nachwuchsstich" AllowShooterCollectionParticipation="false" AllowShooterParticipation="true"  RankingType="SingleWithoutSeries" />
    </ParticipationDescriptions>
  </ServiceDeskConfiguration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="ShootingRangeEntities" connectionString="metadata=res://*/ShootingRangeModel.csdl|res://*/ShootingRangeModel.ssdl|res://*/ShootingRangeModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=ApplicationUser;password=4AxQP?qr*Ma2;persistsecurityinfo=True;database=shootingrange&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>